@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Rubik', sans-serif;
  color: #616161;
  font-size: 12px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header-block {
  background-color: #FAFBFD;
  position: relative;
}

@media (min-width: 767.98px) {
  .header-block::after {
    content: "";
    width: 25.65%;
    height: 100%;
    background-color: #EC5863;
    border-radius: 30px 0px 0px 30px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: 1199.98px) {
  .header-block::after {
    width: 29%;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 37px 0;
}

@media (min-width: 767.98px) {
  .header__container {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
}

.header__logo {
  position: relative;
  z-index: 4;
}

@media (max-width: 479.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    overflow: hidden;
  }
}

.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.header__burger div {
  width: 100%;
  height: 2px;
  background-color: #DADADA;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
  margin-bottom: 2px;
}

.header__burger.__active-icon {
  position: relative;
}

.header__burger.__active-icon .second {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__burger.__active-icon .first {
  top: 50%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__burger.__active-icon .third {
  top: 50%;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 767.98px) {
  .header__burger {
    display: none;
  }
}

.header .navbar {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 360px;
          flex: 1 0 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header .navbar__link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  z-index: 4;
}

@media (max-width: 767.98px) {
  .header .navbar {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -100%;
    left: 0;
    background-color: transparent;
    z-index: 3;
    overflow: auto;
    padding: 120px 15px 40px 15px;
  }
  .header .navbar .navbar__item {
    width: 200px;
    text-align: center;
  }
  .header .navbar .navbar__link {
    font-size: 20px;
  }
}

.header .navbar.__active-list {
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

@media (max-width: 767.98px) {
  .header .navbar.__active-list {
    top: 0;
    left: 0;
    background-color: #fafbfd;
  }
}

.header .navbar::before {
  content: "";
  display: block;
  width: 100%;
  height: 114px;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(250, 251, 253, 0.95);
  border-radius: 0 0 25px 25px;
  z-index: 1;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
          flex: 0 1 250px;
  position: relative;
  z-index: 4;
}

@media (max-width: 767.98px) {
  .header__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media (max-width: 299.98px) {
  .header__button .button_blue {
    min-width: 110px;
    width: 110px;
  }
}

@media (min-width: 767.98px) {
  .header__logo:hover {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .header .navbar__link:hover {
    color: #EC5863;
  }
}

.take-care__container {
  padding: 184px 0 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 767.98px) {
  .take-care__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 140px 0 48px 0;
  }
}

.take-care__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 20px;
}

@media (max-width: 767.98px) {
  .take-care__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.take-care__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7.2vw 0 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 480px;
          flex: 0 1 480px;
}

@media (max-width: 990.98px) {
  .take-care__txt {
    padding: 5vw 0 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 425px;
            flex: 0 0 425px;
  }
}

@media (max-width: 767.98px) {
  .take-care__txt {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 767.98px) {
  .take-care__title {
    max-width: 400px;
  }
}

.take-care__subtitle {
  max-width: 350px;
}

.take-care .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}

.take-care .video:active .video__icon {
  background-color: #79a5ed;
}

.take-care .video:active .video__title a {
  color: #79a5ed;
}

@media (max-width: 767.98px) {
  .take-care .video {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
  }
}

@media (min-width: 767.98px) {
  .take-care .video:hover .video__icon {
    background-color: #4285F4;
  }
  .take-care .video:hover .video__title a {
    color: #4285F4;
  }
}

.take-care .video__icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #4285F4;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.take-care .video__icon svg {
  width: 44px;
  height: 44px;
  stroke: #4285F4;
  fill: #FAFBFD;
  stroke-width: 1px;
}

.take-care .video__title a {
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #B0B0B0;
  padding-bottom: 5px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.take-care .video__subtitle {
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}

.take-care__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.take-care__image img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 767.98px) {
  .take-care__image img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.stay-safe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 58px;
          column-gap: 58px;
  row-gap: 0px;
  padding: 80px 0;
}

@media (max-width: 767.98px) {
  .stay-safe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0;
  }
}

.stay-safe__images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-height: 580px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 767.98px) {
  .stay-safe__images:hover .stay-safe__block01 {
    top: 10px;
    left: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .stay-safe__images:hover .stay-safe__block02 {
    top: 380px;
    left: 70%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .stay-safe__images:hover .stay-safe__block03 {
    bottom: 20px;
    left: 60px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .stay-safe__images:hover .stay-safe__img img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (max-width: 767.98px) {
  .stay-safe__images {
    min-height: 520px;
  }
}

.stay-safe__img {
  position: relative;
}

.stay-safe__img::after {
  content: "";
  display: block;
  position: absolute;
  width: 206px;
  height: 27px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
  z-index: -1;
}

.stay-safe__img img {
  display: block;
  max-width: 223px;
  -webkit-filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.12));
  border-radius: 16px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.stay-safe__block01, .stay-safe__block02, .stay-safe__block03 {
  background-color: #EC5863;
  border-radius: 30px;
  position: absolute;
  z-index: -2;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.stay-safe__block01 {
  width: 147px;
  height: 147px;
  top: 0;
  left: 9.9%;
}

.stay-safe__block02 {
  width: 77px;
  height: 77px;
  top: 358px;
  left: 65%;
}

.stay-safe__block03 {
  width: 77px;
  height: 77px;
  bottom: 37px;
  left: 18.6%;
}

.stay-safe__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767.98px) {
  .stay-safe__content {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) {
  .stay-safe__title {
    max-width: 400px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.stay-safe__subtitle {
  max-width: 363px;
}

@media (max-width: 767.98px) {
  .stay-safe__block01, .stay-safe__block02, .stay-safe__block03 {
    display: none;
  }
}

.talk-experts__background {
  background: #FAFBFD;
}

.talk-experts__container {
  padding: 103px 0 116px 0;
}

.talk-experts__illustration {
  width: 100%;
  position: relative;
}

@media (min-width: 479.98px) {
  .talk-experts__illustration:hover .talk-experts__block01 {
    top: -30px;
    right: 90px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .talk-experts__illustration:hover .talk-experts__block02 {
    top: -40px;
    left: 430px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .talk-experts__illustration:hover .talk-experts__block03 {
    top: 60px;
    left: 145px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  .talk-experts__illustration:hover .pannel {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.talk-experts .pannel {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  width: 654px;
  height: 117px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 80px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.talk-experts .pannel__number {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19em;
  letter-spacing: 0.14em;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #EC5863;
}

.talk-experts .pannel__name {
  font-weight: 700;
  font-size: 11px;
  line-height: 1.18em;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}

@media (max-width: 767.98px) {
  .talk-experts .pannel {
    width: 100%;
    margin-bottom: 60px;
  }
  .talk-experts .pannel__number {
    font-size: 26px;
  }
  .talk-experts .pannel__name {
    font-size: 8px;
  }
}

.talk-experts__block01, .talk-experts__block02, .talk-experts__block03 {
  background-color: #EC5863;
  border-radius: 30px;
  position: absolute;
  z-index: 1;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media (max-width: 767.98px) {
  .talk-experts__block01, .talk-experts__block02, .talk-experts__block03 {
    display: none;
  }
}

.talk-experts__block01 {
  width: 127px;
  height: 127px;
  right: 174px;
  top: 0;
  -webkit-transform: translate(50%, 0) rotate(-30deg);
          transform: translate(50%, 0) rotate(-30deg);
}

@media (max-width: 767.98px) {
  .talk-experts__block01 {
    display: none;
  }
}

.talk-experts__block02 {
  width: 96px;
  height: 96px;
  top: 0;
  left: 416px;
  -webkit-transform: translate(0, -40%) rotate(105deg);
          transform: translate(0, -40%) rotate(105deg);
}

.talk-experts__block03 {
  border-radius: 16px;
  width: 65px;
  height: 65px;
  top: 70px;
  left: 177px;
  -webkit-transform: translate(-40%, 0) rotate(-30deg);
          transform: translate(-40%, 0) rotate(-30deg);
}

.talk-experts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

@media (max-width: 767.98px) {
  .talk-experts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.talk-experts__txt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

@media (max-width: 767.98px) {
  .talk-experts__txt {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.talk-experts__subtitle {
  max-width: 363px;
}

@media (max-width: 767.98px) {
  .talk-experts__button {
    margin: 0 auto;
  }
}

.talk-experts__video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  text-align: center;
  min-height: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  .talk-experts__video {
    width: 80%;
    min-height: 284px;
  }
}

@media (max-width: 479.98px) {
  .talk-experts__video {
    width: 100%;
  }
}

@media (min-width: 479.98px) {
  .talk-experts__video:hover {
    opacity: 0.8;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .talk-experts__video:hover .talk-experts__video-icon {
    background: #FAFBFD;
  }
  .talk-experts__video:hover .talk-experts__video-icon svg {
    fill: #4285F4;
  }
}

.talk-experts__video-icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #4285F4;
  background: #4285F4;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: absolute;
  z-index: 2;
}

.talk-experts__video-icon svg {
  width: 44px;
  height: 44px;
  stroke: #4285F4;
  fill: #FAFBFD;
  stroke-width: 1px;
  position: relative;
  z-index: 2;
}

.footer__container {
  padding: 80px 0 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  text-align: center;
}

.footer__subtitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 22px;
}

.footer__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 74px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .footer__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}

.footer__card-01::before {
  content: "";
  display: block;
  width: 65px;
  height: 65px;
  -webkit-transform: translate(-30%, 50%) rotate(-30deg);
          transform: translate(-30%, 50%) rotate(-30deg);
  background: #EC5863;
  border-radius: 16px;
  position: absolute;
  bottom: 0;
  right: 18vw;
  z-index: -1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (min-width: 1200px) {
  .footer__card-01::before {
    right: auto;
    left: 0;
  }
}

@media (max-width: 990.98px) {
  .footer__card-01::before {
    display: none;
  }
}

.footer__card-01::after {
  content: "";
  display: block;
  width: 97px;
  height: 97px;
  -webkit-transform: translate(50%, 0) rotate(105deg);
          transform: translate(50%, 0) rotate(105deg);
  background: #EC5863;
  border-radius: 30px;
  position: absolute;
  top: 41px;
  right: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 990.98px) {
  .footer__card-01::after {
    display: none;
  }
}

.footer__card-01:hover::before {
  -webkit-transform: translate(-70%, 50%) rotate(-80deg);
          transform: translate(-70%, 50%) rotate(-80deg);
}

.footer__card-01:hover::after {
  -webkit-transform: translate(70%, 0) rotate(140deg);
          transform: translate(70%, 0) rotate(140deg);
}

.footer__card-03::before {
  content: "";
  display: block;
  width: 127px;
  height: 127px;
  -webkit-transform: translate(-80%, 20%) rotate(-30deg);
          transform: translate(-80%, 20%) rotate(-30deg);
  background: #EC5863;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 990.98px) {
  .footer__card-03::before {
    display: none;
  }
}

.footer__card-03::after {
  content: "";
  display: block;
  width: 65px;
  height: 65px;
  -webkit-transform: translate(30%, -60%) rotate(-30deg);
          transform: translate(30%, -60%) rotate(-30deg);
  background: #EC5863;
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 18vw;
  z-index: -1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (min-width: 1200px) {
  .footer__card-03::after {
    left: auto;
    right: 0;
  }
}

@media (max-width: 990.98px) {
  .footer__card-03::after {
    display: none;
  }
}

.footer__card-03:hover::before {
  -webkit-transform: translate(-80%, 40%) rotate(15deg);
          transform: translate(-80%, 40%) rotate(15deg);
}

.footer__card-03:hover::after {
  -webkit-transform: translate(70%, -60%) rotate(15deg);
          transform: translate(70%, -60%) rotate(15deg);
}

.footer .card:not(:last-child) {
  margin-right: 7vw;
}

@media (max-width: 767.98px) {
  .footer .card:not(:last-child) {
    margin-right: 0;
  }
}

.footer .card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  padding: 50px 18px 36.5px 18px;
  position: relative;
  height: 276px;
}

.footer .card__img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer .card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  padding-bottom: 4px;
  color: #000000;
}

.footer .card__subtitle {
  line-height: 138.5%;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  text-align: center;
}

@media (max-width: 767.98px) {
  .footer .card {
    width: 300px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 276px;
            flex: 0 0 276px;
  }
}

.footer .card:hover .card__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 125px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

.footer__appstore {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__appstore:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__playmarket {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__playmarket:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.title {
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}

.title__blue {
  color: #4285F4;
}

.title__red {
  color: #EC5863;
}

@media (max-width: 767.98px) {
  .title {
    font-size: 34px;
  }
}

.subtitle {
  line-height: 138.5%;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  padding-bottom: 24px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 144px;
  min-height: 40px;
  background: #EC5863;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #FCFDFE;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:active {
  background: #f4858c;
}

@media (min-width: 767.98px) {
  .button:hover {
    background: #be474f;
  }
}

.button_blue {
  background: #4285F4;
  min-width: 144px;
}

.button_blue:active {
  background: #80acf4;
}

@media (min-width: 767.98px) {
  .button_blue:hover {
    background: #315fa9;
  }
}

[class*="__container"] {
  max-width: 1057px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
